@tailwind base;
@tailwind components;
@tailwind utilities;

/* reset css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

.container{
  border: 1px solid black;
}